<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Document</title>
  <%- include('./css/style'); %>

    <link href="https://fonts.googleapis.com/css?family=Montserrat:400,700" rel="stylesheet">
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css">
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.1.3/dist/css/bootstrap.min.css" rel="stylesheet">
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.1.3/dist/js/bootstrap.bundle.min.js"></script>
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
</head>

<body>
  <%- include('tap3')%>

    <div class="image"></div>
    <div class="row">
      <div class="col-sm-6 ">
        <div class="overall">

          <div class="form">
            <div class="circle">
              <center>
                <h1>Users</h1>
              </center><br>
            </div>
        

            <center> <a class="btn btn-outline-primary" href="user" role="button">Connect</a></center>


            


          </div>
        </div>
      </div>
      <div class="col-sm-6">
        <div class="overall">
          <div class="form">
            <div class="circle">
              <center>
                <h1>Product</h1>
                </center>
              </center><br>
            </div>
            <center> <a class="btn btn-outline-primary" href="product" role="button">Connect</a></center>


          </div>

        </div>
      </div>
      <br>
      <center>
      <div class="col-sm-12">
        <div class="overall2">
          <div class="form">
            <div class="circle">
             
                <h1>Status</h1>
               
            </div>
           <a class="btn btn-outline-primary" href="Status" role="button">Connect</a>



          </div>

        </div>
      </div></center>
      

</body>

</html>