<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Home</title>
    <%- include('./css/style'); %>
    <%- include('./css/style2'); %>
    <!-- BOOTSTRAP CDN -->
    <link href="https://fonts.googleapis.com/css?family=Montserrat:400,700" rel="stylesheet">
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css">
</head>
<body>
    <%- include('tap2')%>
    <div class="clearfix"></div>

    <header class="header">
        <div class="container"><h1></h1>
            <div class="header_area">
                
                <font color= #FFFFFF ><h1>ยินดีต้อนรับเข้าสู่เว็บ<br> ยืม - คืนอุปกรณ์กีฬา</h1></font>
            </div>
        </div>
    </header>
    <div class="sectiontitle"><br>
        <center> <h1 class="heading">รายการ อุปกรณ์</h1></center><br><br><br><br>
      </div>
      <center>
      
    <div class="row" id="showproduct">
     
      </div>
      
      <%- include('footer')%>
<script>
// Get the modal
var modal = document.getElementById('id01','id02','id03','id04','id05','id06');

// When the user clicks anywhere outside of the modal, close it
window.onclick = function(event) {
    if (event.target == modal) {
        modal.style.display = "none";
    }
}


const show = document.querySelector('#showproduct');
fetch('http://localhost:3000/showproduct')
                        .then(response => response.json())
                        .then(data => {
                          console.log(data)
                          for (let i = 0; i < data.length; i++) {
                            show.innerHTML += ` <div class="col-sm-4"style="padding:10px">
        <div class="div1"><center><img src="/image/${data[i].img}" style = "width:100%; height:100%; background-size:cover;"></center></div>
        <p style="font-size: 18px">${data[i].product}</p>
        
        <button onclick="document.getElementById('${i}').style.display='block'" style="width:auto;">เช่า</button>
        <div id="${i}" class="modal">
  
          <form class="modal-content animate" style="width: 50%;" action="borrow" method="post">
            <div class="imgcontainer">
              <span onclick="document.getElementById('${i}').style.display='none'" class="close" title="Close Modal">&times;</span>
              <img src="/image/${data[i].img}" width="100">
            </div>
        
            <div class="container">
            <p> ชื่อ : ${data[i].product} </p>
            เวลายืม :
               <input type="datetime-local" id="birthdaytime" name="birthdaytime"><br><br>
              <p style="color:red">หมายเหตุ : ให้นักศึกษาจองล่วงหน้าได้ไม่เกิน3วันถ้าเกินระบบจะไม่ทำการอนุมัติ<br>และต้องนำอุปกรณ์มาคืนภายใน19:00</p>
                <input type="text" name="chek" value="sum" style="display:none">
                <input type="text" name="id" value="${data[i].id}" style="display:none">
              <input type="submit" value="ยืนยัน">
            </div>
        
           
          
          </form>
        </div>
      </div>`
                          }
                        })
                        .catch(error => console.error(error));
</script>
</body>
</html>