<meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>MyComp</title>
    <link href="https://fonts.googleapis.com/css?family=Montserrat:400,700" rel="stylesheet">
<div class="menubar">
    <div class="container py-1">
        <div class="logo">
            <h1>MyWeb</h1>
        </div>
        <ul class="menu">
            
           
            <li>
                <a href="/index">ล็อกอิน</a>
            </li>
            <li>
                <a href="/register">สมัครสมาชิก</a>
            </li>
        </ul>
    </div>
</div>